html, body {
    height: 97%;
}
body {
    background-color: #1d4f38ad;
}
div {
    margin: 5px;
    padding: 5px;
}
.container {
    display: flex;
    height: 100%;
}
.drawer {
    flex: 1;
    border-right: 1px solid black;
}
.detail {
    flex: 4;
}
.detail iframe {
    width: 100%;
    height: 100%;
}
.photo {
    border-bottom: 1px solid black;
}
.info {
    border-bottom: 1px solid black;
}
.navLinks {
    border-bottom: 1px solid black;
}
.navLinks > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navLinks > ul a {
    color : black;
}
